<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/@angular/router/angular1/angular_1_router.js"></script>

    <script src="public/app/app.module.js"></script>
    <script src="public/app/services/expenses.service.js"></script>
    <script src="public/app/components/expenses/expenses.component.js"></script>
</head>
<body ng-app="test">
    <test-app></test-app>
</body>
</html>